html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--color-2);
  background: var(--color-4);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--color-5);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-3);
}

.bg-4 {
  background: var(--color-4);
}

.bg-5 {
  background: var(--color-5);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
  grid-template-columns: 240px auto;
}

aside {
  height: 100vh;
  position: relative;
}

.sidenav {
  position: fixed;
  height: 92%;
  width: 200px;
}

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap);
}

.sidenav li a {
  flex: 1;
  font-size: 1.125rem;
  text-decoration: none;
  margin: 0.25rem 0;
  color: var(--color-1);
  padding: var(--gap-s) 0;
}

.sidenav li:hover span {
  background: var(--color-3);
}

.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

/* resumo */

.resumo {
  font-size: 1.5rem;
  font-weight: 600;
}

.resumo h2 {
  font-size: 1.5rem;
  margin-bottom: var(--gap);
  color: var(--color-1);
}

/* venda */

.venda {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap-s);
  align-items: center;
}

.venda div:last-child {
  justify-self: end;
}

.venda a {
  text-decoration: none;
  color: inherit;
}

/* small screen */

@media (max-width: 1000px) {
  .resumo {
    flex-direction: column;
  }
  .daterange {
    grid-template-columns: 1fr;
  }
  .daterange *:last-child {
    grid-row: 1;
  }
}

@media (max-width: 700px) {
  html {
    --gap-s: 0.5rem;
    --gap: 0.75rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .flex {
    flex-direction: column;
  }
  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sidenav li a {
    font-size: 0.875rem;
  }
  .venda {
    grid-template-columns: 1fr;
  }
  .venda div:last-child {
    justify-self: start;
  }
}
